# ====== Necessary Proxmox setup example ====================================
# Details: https://github.com/hashicorp/packer-plugin-proxmox/issues/184
#
# Example user: test@pve
#
# 1. Create ISO storage "iso-images":
#    pvesm add dir iso-images --path /var/iso-images --content iso
#
# 2. Create resource pool "Templates":
#    pvesh create /pools --poolid Templates --comment "Template VM Pool"
#    pvesh set /pools/Templates --storage local-lvm
#    pvesh set /pools/Templates --storage iso-images
#
# 3. Assign permissions to user:
#    pveum acl modify /pool/Templates         --user test@pve --roles PVEPoolUser
#    pveum acl modify /sdn/zones/localnetwork --user test@pve --roles PVESDNUser
#    pveum acl modify /storage/iso-images     --user test@pve --roles PVEDatastoreAdmin
# ===========================================================================

PROXMOX_USERNAME="test@pve"              # Example: test@pve
PROXMOX_PASSWORD="MY-PROXMOX-PASSWORD"   # Example: (use the output of pwgen -s 128)
PROXMOX_URL="MY-PROXMOX-URL"             # Example: https://1.2.3.4:8006/api2/json"
PROXMOX_NODE="pve"                       # Example: pve1
PROXMOX_POOL="Templates"                 # Example: Templates
PROXMOX_ISO_STORAGE="iso-storage"        # Example: iso-storage
PROXMOX_DISK_STORAGE="local-lvm"         # Example: local-lvm
PROXMOX_BRIDGE="vmbr0"                   # Example: vmbr1
PROXMOX_VLAN_ID=""                       # Example: "" or "1000"
PROXMOX_HTTP_IP="MY-PROXMOX-HTTP-IP"     # Example: 10.10.10.10 (the Packer machine's IP address)
