PROXMOX_USERNAME="MY-PROXMOX-USERNAME"   # Example: test@pve
PROXMOX_PASSWORD="MY-PROXMOX-PASSWORD"   # Example: (use the output of pwgen -s 128)
PROXMOX_URL="MY-PROXMOX-URL"             # Example: https://1.2.3.4:8006/api2/json"
PROXMOX_NODE="MY-PROXMOX-NODE"           # Example: pve1
PROXMOX_POOL="MY-PROXMOX-POOL"           # Example: Test
PROXMOX_BRIDGE="vmbr0"                   # Example: vmbr1
PROXMOX_VLAN_ID=""                       # Example: "" or "1000"
PROXMOX_HTTP_IP="MY-PROXMOX-HTTP-IP"     # Example: 10.10.10.10 (the Packer machine's IP address)
