# ====== Necessary Proxmox Setup Example ====================================
# Details: https://github.com/hashicorp/packer-plugin-proxmox/issues/184
#
# 1. Create user:
#    pveum user add template-builder@pve --comment "Template Builder" --password <output of pwgen -s 64>
#
# 2. Create ISO storage "iso-images":
#    pvesm add dir iso-images --path /var/iso-images --content iso
#
# 3. Create resource pool "Templates":
#    pvesh create /pools --poolid Templates --comment "Template VM Pool"
#    pvesh set /pools/Templates --storage local-lvm
#    pvesh set /pools/Templates --storage iso-images
#
# 4. Assign permissions to user:
#    pveum acl modify /pool/Templates --user template-builder@pve --roles "PVEPoolUser PVEDatastoreAdmin PVEVMAdmin"
#    pveum acl modify /sdn/zones/localnetwork --user template-builder@pve --roles "PVESDNUser"
# ===========================================================================

PROXMOX_USERNAME="template-builder@pve"   # Example: test@pve
PROXMOX_PASSWORD="MY-PROXMOX-PASSWORD"    # Example: (use the output of pwgen -s 128)
PROXMOX_URL="MY-PROXMOX-URL"              # Example: https://1.2.3.4:8006/api2/json"
PROXMOX_NODE="pve"                        # Example: pve1
PROXMOX_POOL="Templates"                  # Example: Templates
PROXMOX_ISO_STORAGE="iso-images"          # Example: iso-images
PROXMOX_DISK_STORAGE="local-lvm"          # Example: local-lvm
PROXMOX_BRIDGE="vmbr0"                    # Example: vmbr1
PROXMOX_VLAN_ID=""                        # Example: "" or "1000"

# The Packer machine's IP address:
PROXMOX_HTTP_IP="MY-PROXMOX-HTTP-IP"     # Example: 10.10.10.10
# To use the current address of an interface:
# PROXMOX_HTTP_IP="$(ip -4 addr show dev enp0s25 | grep "inet " | awk '{ print $2 }' | head -n1 | sed -e 's#/.*$##g')"
