#!/usr/bin/env bash
# ==========================================================================
#  ___         _        _ _      _   _            ___         _      _
# |_ _|_ _  __| |_ __ _| | |__ _| |_(_)___ _ _   / __| __ _ _(_)_ __| |_ ___
#  | || ' \(_-<  _/ _` | | / _` |  _| / _ \ ' \  \__ \/ _| '_| | '_ \  _(_-<
# |___|_||_/__/\__\__,_|_|_\__,_|\__|_\___/_||_| |___/\__|_| |_| .__/\__/__/
#                                                              |_|
#
#   --- Virtual Machine Image Builder and System Installation Scripts ---
#            https://www.nntb.no/~dreibh/vmimage-builder-scripts/
# ==========================================================================
#
# System Installation Scripts
# Copyright (C) 2017-2026 by Thomas Dreibholz
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact: thomas.dreibholz@gmail.com

# Bash options:
set -euo pipefail


# ====== Keyboard layouts ===================================================
# Ordered list of layout:variant or layout (using defaults) entries:
KEYBOARD_LAYOUTS="
   de:nodeadkeys
   no
   us
"

# ====== Locales ============================================================
# List of language_CountryCode entries:
LOCALES="
   ar_SA
   ar_YE
   bs_BA
   da_DK
   de_AT
   de_CH
   de_DE
   el_GR
   en_AU
   en_DK
   en_GB
   en_IE
   en_US
   en_ZA
   fr_FR
   nb_NO
   nn_NO
   ro_RO
   sk_SK
   zh_CN
"

# ====== Time Zone ==========================================================
TIMEZONE="Europe/Oslo"
