#!/usr/bin/env bash
# ==========================================================================
#  ___         _        _ _      _   _            ___         _      _
# |_ _|_ _  __| |_ __ _| | |__ _| |_(_)___ _ _   / __| __ _ _(_)_ __| |_ ___
#  | || ' \(_-<  _/ _` | | / _` |  _| / _ \ ' \  \__ \/ _| '_| | '_ \  _(_-<
# |___|_||_/__/\__\__,_|_|_\__,_|\__|_\___/_||_| |___/\__|_| |_| .__/\__/__/
#                                                              |_|
#
#   --- Virtual Machine Image Builder and System Installation Scripts ---
#            https://www.nntb.no/~dreibh/vmimage-builder-scripts/
# ==========================================================================
#
# System Installation Scripts
# Copyright (C) 2017-2026 by Thomas Dreibholz
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact: thomas.dreibholz@gmail.com

# Bash options:
set -euo pipefail


# ====== Linux ==============================================================
DEFAULT_LINUX_UBUNTU_SYSTEMS_CURRENT="Ubuntu-22.04 Ubuntu-24.04 Ubuntu-26.04"
DEFAULT_LINUX_UBUNTU_SYSTEMS_LEGACY="Ubuntu-18.04 Ubuntu-20.04"

DEFAULT_LINUX_DEBIAN_SYSTEMS_CURRENT="Debian-12 Debian-13"
DEFAULT_LINUX_DEBIAN_SYSTEMS_LEGACY="Debian-11"

DEFAULT_LINUX_FEDORA_SYSTEMS_CURRENT="Fedora-44"
DEFAULT_LINUX_FEDORA_SYSTEMS_LEGACY="Fedora-43"

DEFAULT_LINUX_SYSTEMS_CURRENT="
   ${DEFAULT_LINUX_UBUNTU_SYSTEMS_CURRENT}
   ${DEFAULT_LINUX_DEBIAN_SYSTEMS_CURRENT}
   ${DEFAULT_LINUX_FEDORA_SYSTEMS_CURRENT}
"
DEFAULT_LINUX_SYSTEMS_LEGACY="
   ${DEFAULT_LINUX_UBUNTU_SYSTEMS_LEGACY}
   ${DEFAULT_LINUX_DEBIAN_SYSTEMS_LEGACY}
   ${DEFAULT_LINUX_FEDORA_SYSTEMS_LEGACY}
"


# ====== FreeBSD ============================================================
DEFAULT_FREEBSD_SYSTEMS_CURRENT="FreeBSD-15.1-RELEASE FreeBSD-14.4-RELEASE"
DEFAULT_FREEBSD_SYSTEMS_LEGACY=""


# ====== Collections ========================================================
DEFAULT_SYSTEMS_CURRENT="
   ${DEFAULT_LINUX_SYSTEMS_CURRENT}
   ${DEFAULT_FREEBSD_SYSTEMS_CURRENT}
"
DEFAULT_SYSTEMS_CURRENT_AND_LEGACY="
   ${DEFAULT_LINUX_SYSTEMS_CURRENT}
   ${DEFAULT_FREEBSD_SYSTEMS_CURRENT}
   ${DEFAULT_LINUX_SYSTEMS_LEGACY}
   ${DEFAULT_FREEBSD_SYSTEMS_LEGACY}
"
