#!/usr/bin/env bash
#
# Template VM Image Builder
# Copyright (C) 2017-2025 by Thomas Dreibholz
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
# Contact: thomas.dreibholz@gmail.com

set -eu


# ====== Linux ==============================================================
DEFAULT_LINUX_UBUNTU_SYSTEMS_CURRENT="Ubuntu-22.04 Ubuntu-24.04   Ubuntu-25.04"
DEFAULT_LINUX_UBUNTU_SYSTEMS_LEGACY="Ubuntu-18.04 Ubuntu-20.04"

DEFAULT_LINUX_DEBIAN_SYSTEMS_CURRENT="Debian-12 Debian-13"
DEFAULT_LINUX_DEBIAN_SYSTEMS_LEGACY="Debian-11"

DEFAULT_LINUX_FEDORA_SYSTEMS_CURRENT="Fedora-42"
DEFAULT_LINUX_FEDORA_SYSTEMS_LEGACY="Fedora-41"

DEFAULT_LINUX_SYSTEMS_CURRENT="
   ${DEFAULT_LINUX_UBUNTU_SYSTEMS_CURRENT}
   ${DEFAULT_LINUX_DEBIAN_SYSTEMS_CURRENT}
   ${DEFAULT_LINUX_FEDORA_SYSTEMS_CURRENT}
"
DEFAULT_LINUX_SYSTEMS_LEGACY="
   ${DEFAULT_LINUX_UBUNTU_SYSTEMS_LEGACY}
   ${DEFAULT_LINUX_DEBIAN_SYSTEMS_LEGACY}
   ${DEFAULT_LINUX_FEDORA_SYSTEMS_LEGACY}
"


# ====== FreeBSD ============================================================
DEFAULT_FREEBSD_SYSTEMS_CURRENT="FreeBSD-14.3-RELEASE"
DEFAULT_FREEBSD_SYSTEMS_LEGACY="FreeBSD-13.5-RELEASE"


# ====== Collections ========================================================
DEFAULT_SYSTEMS_CURRENT="
   ${DEFAULT_LINUX_SYSTEMS_CURRENT}
   ${DEFAULT_FREEBSD_SYSTEMS_CURRENT}
"
DEFAULT_SYSTEMS_CURRENT_AND_LEGACY="
   ${DEFAULT_LINUX_SYSTEMS_CURRENT}
   ${DEFAULT_FREEBSD_SYSTEMS_CURRENT}
   ${DEFAULT_LINUX_SYSTEMS_LEGACY}
   ${DEFAULT_FREEBSD_SYSTEMS_LEGACY}
"
