VSPHERE_USERNAME="MY-VSPHERE-USERNAME"
VSPHERE_PASSWORD="MY-VSPHERE-PASSWORD"
VSPHERE_SERVER="MY-VSPHERE-SERVER"
VSPHERE_DATACENTER="MY-VSPHERE-DATACENTER"
VSPHERE_CLUSTER="MY-VSPHERE-CLUSTER"
VSPHERE_FOLDER="MY-VSPHERE-FOLDER"
VSPHERE_HOST="MY-VSPHERE-HOST"
VSPHERE_DATASTORE="MY-VSPHERE-DATASTORE"
VSPHERE_NETWORK="MY-VSPHERE-NETWORK"
